:root {
  --bg-light: #f6f3f3;
  --text-dark: #4A4A4A;
  --accent: #49856E;
  --font-base: 'Segoe UI', Tahoma, Verdana, sans-serif;
  --highlight: #FFD700;
  --bg-dark: #6E6E6E;
  --spacing-s: 0.5rem;
  --spacing-m: 1rem;
  --spacing-l: 2rem;
}

body {
  background-color: var(--bg-light);
  color: var(--text-dark);
  font-family: var(--font-base);
}

header {
  padding: var(--spacing-m);
  text-align: center;
}

.logo {
  width: 150px;
  height: auto;
}

h1 {
  color: var(--text-dark);
  font-family: var(--font-base);
}

h2 {
  color: var(--accent);
}



a:focus,
button:focus,
input:focus {
  outline: 2px solid var(--accent);
  outline-offset: 2px;
}

.calendar {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--bg-light);
  color: var(--text-dark);
  border: 2px solid var(--accent);
  border-radius: 5px;
  padding: var(--spacing-m);
  max-width: 280px;
  margin: auto;
}

.calendar th,
.calendar td {
  border:1px solid var(--accent);
  padding: var(--spacing-s);
  text-align: center;
  border-radius: 4px;
}

.calendar th {
  background-color: var(--bg-dark);
  color: var(--highlight);
  font-weight: bold;
}

.booked {
  background-color: var(--highlight);
  color: var(--bg-dark);
  font-weight: bold;
  box-shadow: 0 0 0 2px var(--text-dark);
  border-radius: 2px;
}


.bildformat {
  height: 250px;
  width: auto;
}

.quadrat {
  aspect-ratio: 2/2;
}

.hoch {
  aspect-ratio: 2/3;
}

.quer {
  aspect-ratio: 3/2;
}

.navi a {
  text-decoration: none;
  font-weight: 500;
  border-radius: 4px;
  transition: color 0.3s ease;
}

footer {
  padding: var(--spacing-m);
  text-align: center;
}

footer a {
  text-decoration: none;
  font-weight: normal;
  font-size: var(--spacing-m);
  transition: color 0.3s ease;
}

/* Desktop*/

@media (min-width: 1050px) {
  .navi ul {
    display: flex;
    justify-content: center;
    gap:  var(--spacing-l);
    list-style: none;
    padding: var(--spacing-m) 0;
    margin: 0;
    border-bottom: 2px solid var(--text-dark);
  }

  .navi a {
    color: var(--text-dark);
    font-size: var(--spacing-m);
    padding: var(--spacing-s) var(--spacing-m);
    border: 2px solid var(--text-dark);
  }

  .navi a.active {
    color: var(--bg-light);
    border-bottom: 2px solid var(--accent);
    border-color: var(--accent);
    background-color: var(--accent);
    ;
  }

  .content {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;

  }




  .text-image-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:  var(--spacing-l);
    max-width: 1000px;
    margin: 0 auto;
    padding: var(--spacing-l);
  }

  .text-image-block.reverse {
    flex-direction: row-reverse;
  }

  .text-image-block .text {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
  }

  .text-image-block img {
    flex: 1;
    object-fit: cover;
    border-radius: 8px;
    height: auto;
    max-width: 25%;
  }


  .left-bar {
    background-color: var(--accent);
    width: 80px;
    height: 100vh;
    transition: all 0.1s ease;
    position: fixed;
    left: 0;
    top: 0;
  }

  .right-bar {
    background-color: var(--accent);
    width: 80px;
    height: 100vh;
    transition: all 0.1s ease;
    position: fixed;
    right: 0;
    top: 0;
  }

  footer a {
    color: var(--text-dark);
  }
}

/* Mobile*/
@media (max-width: 768px) {
  .navi {
    width: 50px;
    height: 50px;
    border: 5px solid var(--accent);
    background-color: var(--text-dark);
    overflow: hidden;
    border-radius: 6px;
    transition: all 0.3s ease;
    position: relative;
  }

  .navi:hover {
    width: 200px;
    height: auto;
    padding: var(--spacing-m);
  }

  .navi ul {
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-bottom: 0px solid var(--text-dark);
  }

  .navi:hover,
  .navi:focus-within {
    width: 200px;
    height: auto;
    padding: var(--spacing-m);
  }

  .navi:hover ul,
  .navi:focus-within ul {
    opacity: 1;
  }

  .navi li {
    margin: var(--spacing-s) 0;
  }

  .navi a {
    color: var(--bg-light);
    text-decoration: none;
    font-weight: bold;
  }

  .content {
    text-align: center;

  }

  .text-image-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: var(--spacing-m);
  }

  .text-image-block .text p {
    max-width: 80%;
    padding: 0 var(--spacing-m);
    font-size: var(--spacing-m);
    line-height: 1.4;
  }

  .text-image-block img {
    max-width: 50%;
    height: auto;
    max-height: 250px;
    margin-bottom: var(--spacing-m);
  }

  .left-bar {
    background-color: var(--accent);
    transition: all 0.1s ease;
    position: relative;
    width: 100%;
    height: var(--spacing-m);
    left: auto;
    top: auto;
    margin-top: -2px;
  }

  .right-bar {
    display: none;
  }

  footer {
    background-color: var(--accent);
    color: var(--bg-light);
    position: relative;
  }

  footer a {
    color: var(--bg-light);
    ;

  }
}

/* Tablet*/
@media (min-width: 768px) and (max-width: 1050px) {

  .navi ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0.3rem 0.8rem;
    margin: 0;
    border-bottom: 2px solid var(--text-dark);
  }

  .navi a {
    color: var(--text-dark);
    font-size: 0.9rem;
    padding: 0.3rem 0.8rem;
    border: 1px solid var(--text-dark);
  }

  .navi a.active {
    color: var(--bg-light);
    border-bottom: 2px solid var(--accent);
    border-color: var(--accent);
    background-color: var(--accent);
    ;
  }

  .content {
    text-align: center;
  }



  .left-bar,
  .right-bar {
    display: none;
  }

  footer {
    background-color: var(--accent);
    color: var(--bg-light);
    position: relative;
  }

  footer a {
    color: var(--bg-light);

  }
}