body {
  background-color: #f6f3f3;
  font-family: Tahoma, Verdana;
}

header {
  padding: 20px;
  text-align: center;
}

.logo {
  width: 150px;
  height: auto;
}

h1 {
  color: #4A4A4A;
  font-family: 'Segoe UI', Tahoma, Verdana;
}

h2 {
  color: #49856E;
}


footer {
  padding: 20px;
  text-align: center;
}

a:focus,
button:focus,
input:focus {
  outline: 2px solid #49856E;
  outline-offset: 2px;
}

.calendar {
  width: 100%;
  border-collapse: collapse;
  background-color: #f6f3f3;
  color: #4A4A4A;
  border: 2px solid #49856E;
  border-radius: 5px;
  padding: 1rem;
  max-width: 280px;
  margin: auto;
}

.calendar th,
.calendar td {
  border: 1px solid #49856E;
  padding: 0.5rem;
  text-align: center;
  border-radius: 4px;
}

.calendar th {
  background-color: #6E6E6E;
  color: #FFD700;
  font-weight: bold;
}

.booked {
  background-color: #FFD700;
  color: #6E6E6E;
  font-weight: bold;
  box-shadow: 0 0 0 2px #4A4A4A;
  border-radius: 2px;
}

/* Desktop*/

@media (min-width: 1025px) {
  .navi ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    padding: 1rem 0;
    margin: 0;
    border-bottom: 2px solid #2E2E2E;
  }

  .navi a {
    text-decoration: none;
    color: #4A4A4A;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border: 2px solid #4A4A4A;
    border-radius: 6px;
    transition: color 0.3s ease;
  }

  .navi a.active {
    color: #f6f3f3;
    border-bottom: 2px solid #49856E;
    border-color: #49856E;
    background-color: #49856E;
    ;
  }

  .content {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;

  }

  .quadrat {
    aspect-ratio: 2/2;
    height: 250px;
    width: auto;
  }

  .hoch {
    aspect-ratio: 2/3;
    height: 250px;
    width: auto;
  }

  .quer {
    aspect-ratio: 3/2;
    height: auto;
    width: 250px;
  }



  .text-image-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;

  }

  .text-image-block.reverse {
    flex-direction: row-reverse;
  }

  .text-image-block .text {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
  }

  .text-image-block img {
    flex: 1;
    object-fit: cover;
    border-radius: 8px;
    height: auto;
    max-width: 25%;
  }


  .left-bar {
    background-color: #49856E;
    width: 80px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
  }

  .right-bar {
    background-color: #49856E;
    width: 80px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
  }

  footer a {
    text-decoration: none;
    font-weight: normal;
    font-size: 1rem;
    color: #4A4A4A;
    transition: color 0.3s ease;
  }
}

/* Mobile*/
@media (max-width: 768px) {
  .navi {
    width: 50px;
    height: 50px;
    border: 5px solid #49856E;
    background-color: #4A4A4A;
    overflow: hidden;
    border-radius: 6px;
    transition: all 0.3s ease;
    position: relative;
  }

  .navi:hover {
    width: 200px;
    height: auto;
    padding: 1rem;
  }

  .navi ul {
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-bottom: 0px solid #2E2E2E;
  }

  .navi:hover,
  .navi:focus-within {
    width: 200px;
    height: auto;
    padding: 1rem;
  }

  .navi:hover ul,
  .navi:focus-within ul {
    opacity: 1;
  }

  .navi li {
    margin: 0.5rem 0;
  }

  .navi a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .content {
    text-align: center;

  }

  .quadrat {
    aspect-ratio: 2/2;
    height: 250px;
    width: auto;
  }

  .hoch {
    aspect-ratio: 2/3;
    height: 250px;
    width: auto;
  }

  .quer {
    aspect-ratio: 3/2;
    height: auto;
    width: 250px;
  }



  .text-image-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }

  .text-image-block .text p {
    max-width: 80%;
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 1.4;
  }

  .text-image-block img {
    max-width: 50%;
    height: auto;
    max-height: 250px;
    margin-bottom: 1rem;
  }

  .left-bar {
    background-color: #49856E;
    transition: all 0.1s ease;
    position: relative;
    width: 100%;
    height: 20px;
    left: auto;
    top: auto;
    margin-top: -2px;
  }

  .right-bar {
    display: none;
  }

  footer {
    background-color: #49856E;
    color: #f6f3f3;
    padding: 20px;
    text-align: center;
    position: relative;
  }

  footer a {
    text-decoration: none;
    font-weight: normal;
    font-size: 1rem;
    color: #f6f3f3;
    transition: color 0.3s ease;

  }
}

/* Tablet*/
@media (min-width: 768px) and (max-width: 1200px) {

  .navi ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0.3rem 0.8rem;
    margin: 0;
    border-bottom: 2px solid #2E2E2E;
  }

  .navi a {
    text-decoration: none;
    color: #4A4A4A;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0.3rem 0.8rem;
    border: 1px solid #4A4A4A;
    border-radius: 4px;
    transition: color 0.3s ease;
  }

  .navi a.active {
    color: #f6f3f3;
    border-bottom: 2px solid #49856E;
    border-color: #49856E;
    background-color: #49856E;
    ;
  }

  .content {
    text-align: center;
  }

  .quadrat {
    aspect-ratio: 2/2;
    height: 250px;
    width: auto;
  }

  .hoch {
    aspect-ratio: 2/3;
    height: 250px;
    width: auto;
  }

  .quer {
    aspect-ratio: 3/2;
    height: auto;
    width: 250px;
  }

  .left-bar,
  .right-bar {
    display: none;
  }

  footer {
    background-color: #49856E;
    color: #f6f3f3;
    padding: 20px;
    text-align: center;
    position: relative;
  }

  footer a {
    text-decoration: none;
    font-weight: normal;
    font-size: 1rem;
    color: #f6f3f3;
    transition: color 0.3s ease;

  }
}