body {
  background-color: #f6f3f3;
}

header {
  background-color: #f6f3f3;
  padding: 20px;
  text-align: center;
}

.logo {
  width: 150px;
  height: auto;
}

h1 {
  color: #4A4A4A
}

.main-navi ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 1rem 0;
  margin: 0;
  background-color: #f6f3f3;
  border-bottom: 2px solid #2E2E2E;
}

.main-navi a {
  text-decoration: none;
  color: #4A4A4A;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border: 2px solid #4A4A4A;
  border-radius: 6px;
  background-color: #f6f3f3;
  transition: color 0.3s ease;
}

.main-navi a.active {
  color: #49856E;
  border-bottom: 2px solid #49856E;
  border-color: #49856E;
}

/* Desktop*/
.main-content {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  
}

.left-bar {
  background-color: #49856E;
  width: 80px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.right-bar {
  background-color: #49856E;
  width: 80px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
}

footer {
  background-color: #f6f3f3;
  padding: 20px;
  text-align: center;
}