body {
  background-color: #f6f3f3;
  font-family: Tahoma, Verdana;
}

header {
  padding: 20px;
  text-align: center;
}

.logo {
  width: 150px;
  height: auto;
}

h1 {
  color: #4A4A4A;
  font-family: 'Segoe UI', Tahoma, Verdana;
}

h2{
  color: #49856E;
}

.navi ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 1rem 0;
  margin: 0;
  border-bottom: 2px solid #2E2E2E;
}

.navi a {
  text-decoration: none;
  color: #4A4A4A;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border: 2px solid #4A4A4A;
  border-radius: 6px;
  transition: color 0.3s ease;
}

.navi a.active {
  color: #f6f3f3;
  border-bottom: 2px solid #49856E;
  border-color: #49856E;
  background-color: #49856E;;
}

/* Desktop*/
.main-content {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  
}

.quadrat {
  aspect-ratio: 2/2; 
    height: 250px;
  width: auto;
}

.hoch{
 aspect-ratio: 2/3; 
  height: 250px;
  width: auto;
}

.quer{
 aspect-ratio:3/2; 
 height: auto;
  width: 250px;
}

  

.text-image-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  max-width: 1000px; 
  margin: 0 auto; 
  padding: 2rem;
 
}

.text-image-block.reverse {
  flex-direction: row-reverse; 
}

.text-image-block .text {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
}

.text-image-block img {
  flex: 1;
   object-fit: cover;
  border-radius: 8px;
  height: auto;
  max-width: 25%;
}


.left-bar {
  background-color: #49856E;
  width: 80px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.right-bar {
  background-color: #49856E;
  width: 80px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
}

footer {
  padding: 20px;
  text-align: center;
}


/* Mobile*/
@media (max-width: 768px) {
  .text-image-block {
    padding: 0;
  }

  .text-image-block .text p {
   max-width: 90%;
    padding: 0 1rem;
       font-size: 1rem;
    line-height: 1.4;
  }

  .text-image-block img {
    max-width: 50%;
    height: auto;
  }

    .left-bar {
    transition: all 0.1s ease;
    position: relative;
    width: 100%;
    height: 20px;
    left: auto;
    top: auto;
    margin-top: -2px;
  }

  .right-bar {
    transition: all 0.1s ease;
    position: relative;
    width: 100%;
    height: 16px;
    right: auto;
    top: auto;
    margin-top: 2rem; 
  }
  footer {
  background-color: #49856E;
  color: #f6f3f3;
  padding: 20px;
  text-align: center;
  position: relative;
}
}
