<table class="calendar" role="grid" aria-label="Kalender Oktober 2025">
  <thead>
    <tr>
      <th scope="col">Mo</th>
      <th scope="col">Di</th>
      <th scope="col">Mi</th>
      <th scope="col">Do</th>
      <th scope="col">Fr</th>
      <th scope="col">Sa</th>
      <th scope="col">So</th>
    </tr>
  </thead>
    <tbody>
    <tr>
      <td></td><td></td><td tabindex="0">1</td><td tabindex="0">2</td><td tabindex="0">3</td><td tabindex="0">4</td><td tabindex="0">5</td>
    </tr>
    <tr>
      <td tabindex="0">6</td><td tabindex="0">7</td><td tabindex="0">8</td><td tabindex="0">9</td><td tabindex="0">10</td><td tabindex="0">11</td><td tabindex="0">12</td>
    </tr>
    <tr>
      <td tabindex="0">13</td><td tabindex="0">14</td><td tabindex="0">15</td><td tabindex="0">16</td><td tabindex="0">17</td><td tabindex="0">18</td><td tabindex="0">19</td>
    </tr>
    <tr>
      <td tabindex="0">20</td><td tabindex="0">21</td><td tabindex="0">22</td><td tabindex="0">23</td><td tabindex="0">24</td><td tabindex="0">25</td><td tabindex="0">26</td>
    </tr>
    <tr>
      <td tabindex="0">27</td><td tabindex="0">28</td><td tabindex="0">29</td><td tabindex="0">30</td><td tabindex="0">31</td><td></td><td></td>
    </tr>
  </tbody>
</table>